<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="design.css">
    <title>PC用カレンダーアプリデザイン</title>

    <script src="https://unpkg.com/vue"></script>

    <link rel="stylesheet" type="text/css" href="style.css" />
    <!-- template for the modal component -->
    <script type="text/x-template" id="modal-template" defer>
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">

              <div class="modal-header">
                <slot name="header">
                </slot>
              </div>
              <div class="modal-body">
                <slot name="body">

                    <div class="flex">
                        <p>テーマ</p>
                        <div class="input">
                            <input v-model="myThema">
                        </div>
                    </div>

                    <div class="flex">
                        <p>日程の始まり</p>
                        <div class="input">
                            <input v-model="startSchedule" type="date" name="today" id="today">
                        </div>
                    </div>

                    <div class="flex">
                        <p>日程の終わり</p>
                        <div class="input">
                            <input v-model="endSchedule" type="date" name="today" id="today">
                        </div>
                    </div>

                    <div class="flex">
                        <p>期限</p>
                        <div class="input">
                            <input v-model="deadline" type="date" name="today" id="today"> 
                        </div>
                    </div>

                    <div class="flex">
                        <p>繰り返し(曜日、毎週、隔週)</p>
                        <div class="input">
                            <input type="text">
                        </div>
                    </div>

                    <div class="flex">
                        <p>属するタスク郡</p>
                        <div class="input">
                                <input type="text">
                        </div>
                    </div>

                    <div class="flex">
                        <p>優先度(0~9)</p>
                        <div class="input">
                            <input v-model="priority">
                        </div>
                    </div>

                    <div class="flex">
                        <p>重複の許容(Yes/No)</p>
                        <div class="input">
                            <button value="yes" v-bind:disabled="yClick"
                            v-on:click="yesClick">Yes</button><br>

                            <button value="no" v-bind:disabled="nClick"
                            v-on:click="noClick">no</button><br>
                        </div>
                    </div>

                    <div class="flex">
                            <p>メモ</p>
                            <div class="input">
                                <textarea v-model="memo"></textarea>
                            </div>
                    </div>

                </slot>
              </div>
              <div class="modal-footer">
                <slot name="footer">
                  <button class="modal-default-button" @click="$emit('close')">
                    タスクを追加する
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>


</head>

<body>
    <div class="icon">
        <img src="icon.png" width="50px" height="50px">
    </div>

    <div id="dispplay" class="flex">

        <div class="calendar_box">
            <div class="flex" id="date">
                <div class="month">
                    <p>month</p>
                </div>

                <div class="week">
                    <p>week</p>
                </div>

                <div class="day">
                    <p>day</p>
                </div>

            </div>

            <div class="flex">
                <div class="task_filter">
                    <p>タスク表示フィルタリング用チェックボックス</p>
                </div>

                <div class="calendar">
                    <p>calender</p>
                </div>
            </div>

        </div>

        <div class="scroll_box">
            <div class="task">
                <div class="task_view">
                    <p>タスクビュー1</p>
                </div>

                <div class="task_view">
                    <p>タスクビュー2</p>
                </div>

                <div class="task_view">
                    <p>タスクビュー3</p>
                </div>

                <div class="task_view">
                    <p>タスクビュー4</p>
                </div>

                <div class="task_view">
                    <p>タスクビュー5</p>
                </div>

            </div>


        </div>
    </div>

        <!-- タスクの追加 -->
        <div id="app">
            <button id="show-modal" @click="showModal = true">
                タスクの追加
            </button>
            <!-- use the modal component, pass in the prop -->
            <modal v-if="showModal" @close="showModal = false">
                <!--
                    you can use custom content here to overwrite
                    default content
                  -->
                <h3 slot="header">タスクの追加</h3>
            </modal>
        </div>
<script src="task.add.js"></script>
</body>

</html>